<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{project.project_name}}</title>
        <link rel="stylesheet" href="http://www.dqlake.gov.cn/zdgc/images/css.css" />
        <link rel="stylesheet" href="http://www.dqlake.gov.cn/zdgc/images/bgchange.css" />
        <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                    if (!String.prototype.format) {
                      String.prototype.format = function() {
                        var args = arguments;
                        return this.replace(/{(\d+)}/g, function(match, number) { 
                          return typeof args[number] != 'undefined'
                            ? args[number]
                            : match
                          ;
                        });
                      };
                    }
                    
                    $("select").change(function(){
                        $("select option:selected").each(function(){
                            var selected_value = $(this).val();
                            //alert(selected_value);
                            var divObject = $("#progress_"+ selected_value);
                            name     = divObject.find('input[name="name"]').val();
                            year     = divObject.find('input[name="year"]').val();
                            month    = divObject.find('input[name="month"]').val();
                            invest   = divObject.find('input[name="invest"]').val();
                            progress = divObject.find('input[name="progress"]').val();
                            problem  = divObject.find('input[name="problem"]').val();
                            remark   = divObject.find('input[name="remark"]').val();
                            photo    = divObject.find('input[name="photo"]').val();
                            responsible_for = divObject.find('input[name="responsible_for"]').val();
                            htmlString = '<div>\
                            <p>名称：{0}</p>\
                            <p>年度：{1}</p>\
                            <p>月份：{2}</p>\
                            <p>投资额（亿元）：{3}</p>\
                            <p>目前进度：{4}</p>\
                            <p>存在问题：{5}</p>\
                            <p>备注：{6}</p>\
                            <p>图片：{7}</p>\
                            <p>责任部门：{8}</p>\
                            </div>'.format(name,year,month,invest,progress,problem,remark,photo,responsible_for);
                            
                            if (photo === undefined){
                                htmlString = '<div>\
                                <p>名称：{0}</p>\
                                <p>年度：{1}</p>\
                                <p>月份：{2}</p>\
                                <p>投资额（亿元）：{3}</p>\
                                <p>目前进度：{4}</p>\
                                <p>存在问题：{5}</p>\
                                <p>备注：{6}</p>\
                                <p>责任部门：{7}</p>\
                                </div>'.format(name,year,month,invest,progress,problem,remark,responsible_for);

                            }    

                            $("td#progress_detail").html(htmlString);
                            });

                        });

                    });
        </script>
        <style type="text/css">
    .overview .detail {
        font-size:13px;
        font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
        width:300px;
        padding:5px;
    }
    select {
        width:250px;
        size:10;
    }
</style>
    </head>
    <body>
        <div>
            <table align="center" border="0px" cellpadding="0px" cellspacing="0px">
                <tr>
                    <td>
                        <img src="http://www.dqlake.gov.cn/zdgc/images/top.jpg" alt="" />
                    </td>
                </tr>
            </table>
            <table width="1002" height="35" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#2867b5">
                <tbody><tr>
                        <td>
                            <table width="680" height="35" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tbody><tr style="font-size:0px;">
                                        <td width="65" align="center" class="top_font">
                                            <a href="index.aspx">首页</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="newslist.aspx?NodeCode=100010009000210001">组织机构</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="newslist.aspx?NodeCode=1000100090002100020001">项目信息</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="newslist.aspx?NodeCode=1000100090002100030002">招标投标</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="newslist.aspx?NodeCode=1000100090002100040001">信用信息</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="newslist.aspx?NodeCode=100010009000210005">工作动态</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="newslist.aspx?NodeCode=100010009000210006">政策法规</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                        <td width="65" align="center" class="top_font">
                                            <a href="http://www.dqlake.gov.cn/hdjl/" target="_blank">咨询投诉</a>
                                        </td>
                                        <td width="20" class="top_font" align="center">
                                            |
                                        </td>
                                    </tr>
                            </tbody></table>
                        </td>
                        <td width="22">
                        </td>
                        <td>
                            <table width="300" height="35" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                        <td class="top2_font">
                                            全文搜索
                                        </td>
                                        <td align="center">
                                            <input name="ctl00$txtSearch" type="text" id="ctl00_txtSearch" style="width:120px;">
                                        </td>
                                        <td>
                                            <input type="button" onclick="Search()" class="searchbtn">
                                        </td>
                                    </tr>
                            </tbody></table>
                        </td>
                    </tr>
            </tbody></table>
            <table width="1002" height="10" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                <tbody><tr>
                        <td>
                        </td>
                    </tr>
            </tbody></table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="1002" bgcolor="#FFFFFF">
                <tbody><tr>
                        <td align="center" valign="top">
                            <table width="100%" height="16" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                        <td>
                                        </td>
                                    </tr>
                            </tbody></table>
                            <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                <tbody><tr>
                                        <td align="center" valign="top">
                                            <table width="96%" height="60" border="0" cellpadding="0" cellspacing="0" align="center">
                                                <tbody><tr>
                                                        <td align="center" class="dh2_font" style="font-size:16px;">
                                                            <span id="ctl00_ContentPlaceHolder1_lblTitle">
                                                                {{project.project_name}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                            </tbody></table>
                                            <table width="95%" height="25" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fefcf5">
                                                <tbody>
                                                    <tr>
                                                        <td class="content_font" align="center">
                                                            <!--                                            <a onclick="Zoom.style.fontSize='15pt';Javascript:return false;" href="#">大</a>-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table width="95%" height="1" border="0" cellspacing="0" cellpadding="0" bgcolor="#999999" align="center">
                                                <tbody><tr>
                                                        <td>
                                                        </td>
                                                    </tr>
                                            </tbody></table>
                                            <table width="95%" height="12" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <tbody><tr>
                                                        <td>
                                                        </td>
                                                    </tr>
                                            </tbody></table>
                                            <div id="bgchange" style="width: 933px;">
                                                <table width="100%" height="450" border="0" cellspacing="0" cellpadding="0" align="center">
                                                    <tbody><tr>
                                                            <td align="center" valign="top">
                                                                <!--<$[信息内容]>begin-->
                                                                <!--ZJEG_RSS.content.begin-->
                                                                <div class="newsfile02">
                                                                    <table width="95%" height="15" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                        <tbody><tr>
                                                                                <td>
                                                                                    <div id="ctl00_ContentPlaceHolder1_divImgs"><center></center></div>
                                                                                </td>
                                                                            </tr>
                                                                    </tbody></table>
                                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="20%">
                                                                                        <div class="overview">
                                                                                            <p>
                                                                                            项目名称:
                                                                                            <span>{{project.project_name}}</span>
                                                                                            </p>
                                                                                            <p>
                                                                                            "十二五"实施内容:
                                                                                            <span>{{project.project_content}}</span>
                                                                                            </p>
                                                                                            <p>
                                                                                            实施年限:
                                                                                            <span>{{project.start_time}}~{{project.completed_time}}</span>
                                                                                            </p>
                                                                                            <p>
                                                                                            "十二五"计划总投资:
                                                                                            <span>{{project.planed_invest}}</span>
                                                                                            </p>
                                                                                            <p>
                                                                                            2012实施内容:
                                                                                            <span>{{project.year_content}}</span>
                                                                                            </p>
                                                                                            <p>
                                                                                            责任部门:
                                                                                            <span>
                                                                                                {{project.response_for}}
                                                                                            </span>
                                                                                            </p>
                                                                                        </div>
                                                                                </td>
                                                                                <td width="20%">
                                                                                    <select id="progress-selector" name="progress_list" size="20">
                                                                                        {% for p in progress_list %}
                                                                                        <option value="{{p.id}}">{{p.name}} {{p.year}}年 {{p.month}}月</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </td>
                                                                                <div style="display:none">
                                                                                    {% for p in progress_list %}
                                                                                    <div id="progress_{{p.id}}" >
                                                                                        <input type="text" name="name" value="{{p.name}}" />
                                                                                        <input type="text" name="year" value="{{p.year}}" />
                                                                                        <input type="text" name="month" value="{{p.month}}" />
                                                                                        <input type="text" name="invest" value="{{p.invest}}" />
                                                                                        <input type="text" name="progress" value="{{p.progress}}" />
                                                                                        <input type="text" name="problem" value="{{p.problem}}" />
                                                                                        <input type="text" name="remark" value="{{p.remark}}" />
                                                                                        {% if p.photo %}
                                                                                        <input type="text" name="photo" value="{{p.photo.url}}" />
                                                                                        {% endif %}
                                                                                        <input type="text" name="responsible_for" value="{{p.responsible_for}}" />
                                                                                    </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                                <td width="40%" id="progress_detail" class="detail">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="95%" height="30" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody><tr>
                                                                                <td>
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                    </tbody></table>

                                                                    <table width="95%" height="20" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody><tr>
                                                                                <td>
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                    </tbody></table>
                                                                </div>
                                                                <!--ZJEG_RSS.content.end-->
                                                                <!--<$[信息内容]>end-->
                                                            </td>
                                                        </tr>
                                                </tbody></table>
                                            </div>
                                        </td>
                                    </tr>
                            </tbody></table>
                            <table width="98%" height="20" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody><tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                            </tbody></table>
                        </td>
                    </tr>
            </tbody></table>
            <table align="center" width="1002" height="2" border="0" cellpadding="0" cellspacing="0" bgcolor="#2867b5">
                <tbody><tr>
                        <td>
                        </td>
                    </tr>
            </tbody></table>
            <table width="1002" align="center" height="120" border="0" cellpadding="0" cellspacing="0" bgcolor="#f8f8f8">
                <tbody><tr>
                        <td align="center" class="content_font">
                            中国宁波东钱湖旅游度假区管委会主办<br>
                            版权所有:中国宁波东钱湖旅游度假区管委会 ICP:05072411号
                        </td>
                    </tr>
            </tbody></table>

        </div>
    </body>
</html>
