<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{% endblock %}</title>
{% block original_style %}
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://oss-storage.oss.aliyuncs.com/html5.js"></script>
        <script src="http://oss-storage.oss.aliyuncs.com/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/bootstrap-select/bootstrap-select.js"></script>
<link rel="stylesheet" href="/static/bootstrap-select/bootstrap-select.css" type="text/css" />

<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
<style type="text/css">
body {
    padding-top:60px;
    padding-bottom:40px;
    background:url(/static/image_6.jpg);
    background-size:cover;
}
.slidebar-nav {
    padding:9px 0;
}
@media(max-width:768px) {
    .navbar-text.pull-right{
        float:none;
        padding-left:5px;
        padding-right:5px;
    }
}
.well {
background-color:#fff;
}
</style>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" />
{% endblock %}
{% block custom_style %}
{% endblock %}
{% block custom_script %}
{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url src.v2.views.search_view %}" class="brand">东钱湖旅游管理委员会</a>
            <div class="nav-collapse collapse" >
                {% block user %}
                <p class="navbar-text pull-right">
                您好 {{user}} 
                <span class="divider">/</span>
                <a href="{% url src.v2.views.logout_view %}" class="navbar-link">注销</a>
                </p>
                {% endblock %}
<!--                <ul class="nav">-->
<!--                    <li class="active">-->
<!--                    <a href="{% url src.v2.views.search_view %}">首页</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                    <a href="#">关于</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                    <a href="#">联系我们</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div><!--/.nav-collapse-->
        </div>
    </div>
</div>

<div class="subhead">
<div class="container">
    <h3>{% block header_action %}{% endblock %} {% block header_title %}&nbsp;{% endblock %}</h3>
<p class="lead">
{% block lead %}{% endblock %}
</p>
</div>
</div>

<div class="container">
    {% block main_content %}
    {% endblock %}
</div>
{% block main_footer %}
{% endblock %}
</body>
</html>
