{% extends "base.html" %}
{%block title%}{{project.project_name}}{% endblock %}
{% block custom_script %}
<script type="text/javascript">
    $(function(){

            if (!String.prototype.format) {
            String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
                return typeof args[number] != 'undefined'
                ? args[number]
                : match
                ;
                });
            };
            }

            //        $('.selectpicker').selectpicker();

            $("select").change(function(){
                $("select option:selected").each(function(){
                    var selected_value = $(this).val();
                    var divObject = $("#progress_"+ selected_value);
                    var name     = divObject.find('input[name="name"]').val();
                    var year     = divObject.find('input[name="year"]').val();
                    var month    = divObject.find('input[name="month"]').val();
                    var invest   = divObject.find('input[name="invest"]').val();
                    var progress = divObject.find('input[name="progress"]').val();
                    var problem  = divObject.find('input[name="problem"]').val();
                    var remark   = divObject.find('input[name="remark"]').val();
                    var photo    = divObject.find('input[name="photo"]').val();
                    var responsible_for = divObject.find('input[name="responsible_for"]').val();
                    var htmlString = '<tr>\
                    <td class="col-md-3" align="right"><b>年度</b></td>\
                    <td align="left">{0}</td></tr>\
                    <td align="right"><b>月份</b></td>\
                    <td align="left">{1}</td></tr>\
                    <td align="right"><b>月完成投资（万元）</b></td>\
                    <td align="left">{2}</td></tr>\
                    <td align="right"><b>目前进度</b></td>\
                    <td align="left">{3}</td></tr>\
                    <td align="right"><b>存在问题</b></td>\
                    <td align="left">{4}</td></tr>\
                    <td align="right"><b>备注</b></td>\
                    <td align="left">{5}</td></tr>\
                    <td align="right"><b>图片<b></td>\
                    <td align="left"><img src="{6}" width="600px"/></td></tr>\
                    '.format(year,month,invest,progress,problem,remark,photo);

                if (photo === undefined){
                    htmlString = '<tr>\
                                 <td class="col-md-3" align="right"><b>年度</b></td>\
                                 <td align="left">{0}</td></tr>\
                                 <td align="right"><b>月份</b></td>\
                                 <td align="left">{1}</td></tr>\
                                 <td align="right"><b>月完成投资（万元）</b></td>\
                                 <td align="left">{2}</td></tr>\
                                 <td align="right"><b>目前进度</b></td>\
                                 <td align="left">{3}</td></tr>\
                                 <td align="right"><b>存在问题</b></td>\
                                 <td align="left">{4}</td></tr>\
                                 <td align="right"><b>备注</b></td>\
                                 <td align="left">{5}</td></tr>\
                                 '.format(year,month,invest,progress,problem,remark);

                }    

                $("#progress_detail").html(htmlString);
                if ($(this).val()===""){
                    $("#progress_detail").html('');
                }
                });

            });

    });
</script>
{% endblock %}
{% block custom_style %}
<style type="text/css">
    .overview .detail {
        font-size:13px;
        font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
        width:300px;
        padding:5px;
    }
    .table th, .table td { 
        border-top: none; 
    }
    table td {
        border-top: none;
    }
    .table-hover th,.table-hover td {
        border-top:none;
    }
    .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
        border-top:none;
    }
    .table td[align=left] {
        padding-left:25px;
    }
    .scroll {
        height:450px;
        overflow:auto;
        position:relative;
    }
</style>
{% endblock %}

{% block header_title %}
项目进度详细情况
{% endblock %}

{% block main_content %}
<div class="container well" >
    <ul class="breadcrumb">
        <li>
        <a href="{% url src.v2.views.search_view %}">项目概况查询</a>
        <span class="divider">/</span>
        </li>
        <li>
        {{project.project_name}}
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <dl class="">
                    <dt>项目名称</dt>
                    <dd>
                    {{project.project_name}} &nbsp;
                    </dd>
                    <dt>实施年限</dt>
                    <dd>
                    {% if project.start_time or project.completed_time %}
                    {{project.start_time}}~{{project.completed_time}}
                    {% endif %} &nbsp;
                    </dd>
                    <dt>总投资</dt>
                    <dd>{{project.planed_invest}} &nbsp;</dd>
                    <dt>2012实施内容</dt>
                    <dd>{{project.year_content}} &nbsp;</dd>
                    <dt>责任部门</dt>
                    <dd>{{project.response_for}} &nbsp;</dd>
                </dl>
            </div>
            <div class="span9">
                <div class="scroll">
                    <div class="accordion" id="accordion-list" >
                        {% for p in progress_list %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-list" href="#collapse_{{p.id}}">{{p.name}} {{p.year}}-{{p.month}}</a>
                            </div>
                            <div id="collapse_{{p.id}}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <dl class="dl-horizontal">
                                    	<dt>年度</dt>
                                        <dd>{{p.year}}</dd>
                                    	<dt>月份</dt>
                                        <dd>{{p.month}}</dd>
                                    	<dt>月完成投资（万元）</dt>
                                        <dd>{{p.invest}}</dd>
                                    	<dt>目前进度</dt>
                                        <dd>{{p.progress}}</dd>
                                    	<dt>存在问题</dt>
                                        <dd>{{p.problem}}</dd>
                                    	<dt>备注</dt>
                                        <dd>{{p.remark}}</dd>
                                    </dl>
                                    {% if p.photo_list %}
                                    <div id="mycarousel_{{forloop.counter}}" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            {% for photo in p.photo_list %}
                                            <li data-target="#mycarousel_{{forloop.parentloop.counter}}" data-slide-to="{{forloop.counter}}" class="active"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for photo in p.photo_list %}
                                            <div class="item {% ifequal forloop.counter 1 %}active{% endifequal %}">
                                                <img src="/d-media/{{photo}}" class="img-rounded" style="width:800px;height:400px" alt="" />
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <a href="#mycarousel_{{forloop.counter}}" class="carousel-control left" data-slide="prev">&lsaquo;</a>
                                        <a href="#mycarousel_{{forloop.counter}}" class="carousel-control right" data-slide="next">&rsaquo;</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

