{% extends 'object.html' %}
{% block title%}编辑|项目概况{% endblock %}
{% block action %}编辑{% endblock %}
{% block object_title%}项目概况{% endblock %}

{% block header_action %}编辑{% endblock %}
{% block header_title %}项目概况{% endblock %}

{% block breadcrumb_action %}编辑{% endblock %}
{% block breadcrumb_object_title%} 
项目概况
{% endblock %}

{% block breadcrumb_other %}
{{form.project_name.value}}
{% endblock %}

{% block delete_button%}
<a href="{% url src.v2.views.delete_overview_view id %}" class="btn btn-danger">删除</a>
{% endblock %}
