{% extends 'base.html' %}
{% block title %}进度列表{% endblock %}
{% block custom_script %}{% endblock %}
{% block custom_style%}
<style type="text/css">
    .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
        border-top:none;
    }

</style>
{% endblock %}

{% block main_content%}
<div class="container well">
    <ul class="breadcrumb">
        <li>
        <a href="{% url src.v2.views.search_view %}">项目概况查询</a>
        <span class="divider">/</span>
        </li>
        <li class="active">
        <a href="#">
            进度列表
        </a>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li class="active">
        <a href="{% url src.v2.views.add_progress_view %}">新增 项目进度</a>
        </li>
    </ul>
    <table class="table">
        {% for data in query_list %}
        <tr>
            <td class="span1">
                <a href="{% url src.v2.views.delete_progress_view data.id %}">删除</a>
            </td>
            <td>
                <a href="{% url src.v2.views.edit_progress_view data.id %}"> [{{data.year}}-{{data.month}}] {{data.name}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <ul>
            {% if query_list.has_previous %}
            <li class="previous">
            <a href="{% url src.v2.views.list_progress_view %}?{{query_string}}&page={{ query_list.previous_page_number }}">&laquo;</a>
            </li>
            <li>
            <a href="{% url src.v2.views.list_progress_view%}?{{query_string}}&page={{query_list.previous_page_number}}">{{query_list.previous_page_number}}</a>

            </li>
            {% endif %}

            {% ifequal query_list.number 1 %}
            <li>
            <a href="#">1</a>
            </li>
            {% else %}
            <li>
            <a href="#">{{query_list.number}}</a>
            </li>
            {% endifequal %}

            {% if query_list.has_next %}
            <li> 
            <a href="{% url src.v2.views.list_progress_view %}?{{query_string}}&page={{query_list.next_page_number}}">{{query_list.next_page_number}}</a>

            <li class="next">
            <a href="{% url src.v2.views.list_progress_view %}?{{query_string}}&page={{ query_list.next_page_number }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <p>
    {{ query_list.number }}/{{ query_list.paginator.num_pages }}页,共有{{query_list.paginator.count}}条记录
    </p>
</div>
{% endblock %}



