{% extends 'object.html' %}
{% block title %}新增|项目进度{% endblock %}
{% block action%}新增{% endblock %}
{% block object_title%}项目进度{% endblock %}

{% block header_action %}新增{% endblock %}
{% block header_title %}项目进度{% endblock %}

{% block breadcrumb_action %}新增{% endblock %}
{% block breadcrumb_object_title%} 
项目进度
{% endblock %}

{% block breadcrumb_other %}
新增项目进度
{% endblock %}

{% block add_other %}
<input class="btn btn-inverse" type="submit" name="add_other" value="保存并增加另一个"/>
{% endblock %}

{% block form_message %}
新项目进度：{{instance.name}} 保存成功。
{% endblock %}
