{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block custom_script %}
<script type="text/javascript" src="http://oss-storage.oss.aliyuncs.com/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.js"></script>
<script type="text/javascript">
</script>
{% endblock %}
{% block custom_style %}
<link rel="stylesheet" href="http://oss-storage.oss.aliyuncs.com/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css" />
<style type="text/css">
    .bs-container {
        margin-left:0;
        margin-right:0;
        background-color:#fff;
        border-width:1px;
        border-color:#ddd;
        border-radius:4px 4px 0 0;
        box-shadow:none;
        position:relative;
        padding:15px 15px 15px;
        /*margin: 0 -15px -15px;*/
        border-style: solid;
    }
    h3 {
        text-align:left;
    }
    .errorlist {
        color:#b94a48;
        list-style-type: none;
    }
</style>
{% endblock %}
{% block header_action %}新增{% endblock %}
{% block header_title %}项目进度{% endblock %}
{% block main_content %}
<div class="container well">
    <ul class="breadcrumb">
        <li>
        <a href="{% url src.v2.views.search_view %}">项目概况查询</a>
        <span class="divider">/</span>
        </li>
        <li class="active">
        <a href="#">{% block breadcrumb_action%}新增{% endblock %} {% block breadcrumb_object_title%}项目进度{% endblock %}</a>
        <span class="divider">/</span>
        </li>
        <li>
        {% block breadcrumb_other %}{% endblock %}
        </li>
    </ul>
    <div class="form-content">
        <form role="form" class="form-horizontal" action="" method="post">
           <legend></legend> 
            <fieldset>
                {{form.non_field_errors}}
                {% csrf_token %}
                {% for field in form %}
                <div class="control-group">
                    {{field.errors}}
                    {% ifequal field.label '项目概况' %}
                    <label for="id_name" class="control-label">{{field.label}}</label>
                    <div class="controls">
                        {{field}}
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    {% else %}
                    <label for="id_name" class="control-label">{{field.label}}</label>
                    <div class="controls">
                        {{field}}
                    </div>
                    {% endifequal %}
                </div>
                {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary" name="submit">提交</button>
                        {% block delete_button %}
                        {% endblock %}
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
