{% extends "base.html" %}
{% block title %}项目检索{% endblock %}
{% block custom_style %}
<style type="text/css">
        .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
        border-top:none;
    }
    .form-content {
        padding:5px 1px 5px 1px;
    }
    .form-row {
        overflow:hidden;
        padding:8px 2px;
        font-size:11px;
        border-bottom:0 solid #eee;
        font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    }
    label {
        display:block;
        padding:3px 10px 0 0;
        float:left;
        width:8em;
        cursor: default;;
    }
    input:not([type="submit"]),select {
        width:100px;
        margin: 2px 0;
        padding: 2px 3px;
        vertical-align: middle;
        font-family: "Lucida Grande", Verdana, Arial, sans-serif;
        font-weight: normal;
        font-size: 11px;
    }

    .submit-row {
        clear:both;
        padding:1em 0 0 9.4em;
    }
    input[type="submit"] {
        background: white url(http://oss-storage.oss.aliyuncs.com/admin/img/nav-bg.gif) bottom repeat-x;
        padding: 3px 5px;
        color: black;
        border: 1px solid #bbb;
        border-color: #ddd #aaa #aaa #ddd;
    }

</style>
{% endblock %}
{% block custom_script%}
{% endblock %}
{% block header_title %} 项目概况查询 {% endblock %}
{% block main_content %}
<div class="container well">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 ">
                <form class="" action="">
                    <fieldset>
                        <legend>查询条件</legend>

                        <div class="control-group">
                            <label for="id_project_name" class="control-label">项目名称</label>
                            <div class="controls">
                                <input type="text" id="id_project_name" name="project_name" placeholder="请输入关键字" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="id_project_schedule" class="control-label">项目年进度要求</label>
                            <div class="controls">
                                <select id="id_project_schedule" name="project_schedule"/>
                                    <option value="">全部</option>
                                    <option value="竣工">竣工</option>
                                    <option value="前期">前期</option>
                                    <option value="续建">续建</option>
                                    <option value="开工">开工</option>
                                </select>
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="id_date_from" class="control-label">项目起始年限</label>
                            <div class="controls">
                                <select id="id_date_from" name="date_from"/>
                                    <option value="">全部</option>
                                    {% for year in year_list %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="id_date_to" class="control-label">项目竣工年限</label>
                            <div class="controls">
                                <select id="id_date_to" name="date_to"/>
                                    <option value="">全部</option>
                                    {% for year in year_list %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="id_invest_subject" class="control-label">投资主体</label>
                            <div class="controls">
                                <select id="id_invest_subject" name="invest_subject"/>
                                    <option value="">全部</option>
                                    <option value="企业">企业</option>
                                    <option value="政府">政府</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                {% csrf_token %}
                                <button type="submit" class="btn">提交</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span9 tabtable">
                <ul class="nav nav-tabs">
                    <li class="active">
                    <a href="#tab1" data-toggle="tab">项目概况</a>
                    </li>
                    {% if user.is_staff %}
                    <li>
                    <a href="{% url src.v2.views.add_overview_view %}">新增 项目概况</a> 
                    </li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table class="table ">
                            {% for data in query_list %}
                            <tr>
                                {% if user.is_staff %}
                                <td class="span1">
                                    <a href="{% url src.v2.views.edit_overview_view data.id %}">编辑</a>
                                </td>
                                <td class="span1">
                                    <a href="{% url src.v2.views.delete_overview_view data.id %}">删除</a>
                                </td>
                                <td class="span1">
                                    <a href="{% url src.v2.views.list_progress_view %}?foreignkey={{data.id}}">进度</a>
                                </td>
                                {% endif %}
                                <td>
                                    <a href="{% url src.v2.views.detail_view %}?id={{data.id}}">{{data.project_name}}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="pagination">
                            <ul>
                                {% if query_list.has_previous %}
                                <li>
                                <a href="{% url src.v2.views.search_view %}?{{query_string}}&page={{query_list.previous_page_number}}">&laquo;</a>
                                </li>
                                {% else %}
                                <li class="disabled">
                                	<a href="#">&laquo</a>
                                </li>
                                {% endif %}
                                
                                {% for num in query_list.page_range %}
                                {% if not num %}
                                <li class="disabled">
                                <a href="#">...</a>
                                </li>
                                {% else %}
                                <li>
                                <a href="{% url src.v2.views.search_view %}?{{query_string}}&page={{num}}">{{num}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                
                                {% if query_list.has_next %}
                                <li>
                                <a href="{% url src.v2.views.search_view %}?{{query_string}}&page={{query_list.next_page_number}}">&raquo;</a>
                                </li>
                                {% else %}
                                <li class="disabled">
                                <a href="#">&raquo</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                        <p> 
                        {{query_list.number}}/{{query_list.paginator.num_pages}}页,
                        共有{{query_list.paginator.count}}条记录
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
